html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#mainFlexContainer {
  background-color: aquamarine;
  display: flex;
  width: 100% max-width:800px;
  margin: auto flex-direction:row
}

@media(max-width:800px) #mainFlexContainer {
  flex-direction: column
}

.intro {
  order: 2
}

#canvasContainer {
  order: 1
}

.credits {
  order: 3
}